[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ansumanverma
[access "refs/for/refs/*"]
	read = group user/ansumanverma
	push = group user/ansumanverma
	label-Code-Review = -2..+2 group user/ansumanverma
	label-Verified = -1..+1 group user/ansumanverma
	rebase = group user/ansumanverma
	removeReviewer = group user/ansumanverma
	submit = group user/ansumanverma
[access "refs/heads/*"]
	read = group user/ansumanverma
	create = group user/ansumanverma
	push = +force group user/ansumanverma
	pushMerge = group user/ansumanverma
[access "refs/tags/*"]
	push = group user/ansumanverma
	push = +force group user/ansumanverma
